/* src/components/Navbar.css */
.nav{
    background-color: #333;
    color: #fff;
    padding: 10px 0; /* Adjust top and bottom padding */
  }
  
  .navleft {
    display: flex;
    align-items: center;
    width: 100%; /* Make the "navbar-left" span the full width */
    padding: 0 20px; /* Adjust left and right padding */
  }
  
  .hamburger-menu {
    margin-right: 20px;
    font-size: 24px;
  }
  
  .banner {
    font-size: 24px;
  }
  